@media screen and (min-width: 1280px) {
  .mq-categories .col-md-2 {
    width: 11.11%;
  }
}
@media screen and (max-width: 992px) {
  .mq-categories .col-md-2 {
    width: 11.11%;
  }
}
@media screen and (max-width: 768px) {
  .mq-categories .col-md-2 {
    width: 20%;
  }
}
@media screen and (max-width: 736px) {
  .mq-categories .col-md-2 {
    width: 33.33%;
  }
}
@media screen and (max-width: 280px) {
  .mq-categories .col-md-2 {
    width: 50%;
  }
}